#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
